/*
Robert Smith
ASD 1303
stlyes.css
*/

* {
	font-family: georgia;
}
.ui-grid-a {
	position: relative;
	top: 5px;
}
.ui-block-a {
	position: relative;
	top: 10px;
}

#buttons {
	position: relative;
	bottom: 60px;
}
#addButton {
	position: relative;
	bottom: 5px;
}
#browseButton {
	position: relative;
	top: 5px;
}
#ajaxButton {
	position: relative;
	top: 15px;
}
#nav1 {
	position: relative;
	bottom: 10px;
}
#nav2 {
	position: relative;
	bottom: 10px;
}
#nav3 {
	position: relative;
	bottom: 10px;
}
#nav4 {
	position: relative;
	bottom: 10px;
}